@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;&display=swap");
:root {
  font-size: 1px;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16rem;
  color: #363636;
}

.container {
  width: 400rem;
  margin: 50rem auto;
  padding: 30rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10rem;
}
